In [22]:
import numpy as np
import pandas as pd

result = pd.read_csv('WHO-COVID-19-global-data.csv')
result1 = result.loc[(result.New_cases > 0) & (result.Cumulative_cases > 0)]
result1.reset_index(inplace = True)
result1['per_increase'] = (result1.New_cases/result1.Cumulative_cases) * 100
result1 = result1.sort_values(by = "per_increase")
result1
#result.loc[result.Country_code == 'US', ['New_cases']].max() #Max new cases in US without idxmax

/var/folders/99/3m4fpzr56zn9xhq6ycmyymmw0000gn/T/ipykernel_50539/3326453383.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1['per_increase'] = (result1.New_cases/result1.Cumulative_cases) * 100

,index,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,per_increase
80009,117988,2022-05-24,MX,Mexico,AMRO,1,5759773,0,324768,0.000017
119867,181791,2022-05-25,CH,Switzerland,EURO,3,3650664,0,13242,0.000082
118813,180677,2021-09-27,SE,Sweden,EURO,1,1149982,4,14889,0.000087
118807,180670,2021-09-20,SE,Sweden,EURO,1,1145683,3,14846,0.000087
118794,180656,2021-09-06,SE,Sweden,EURO,1,1131446,3,14746,0.000088
...,...,...,...,...,...,...,...,...,...,...
37158,56014,2020-03-21,ER,Eritrea,AFRO,1,1,0,0,100.000000
37597,56865,2020-02-27,EE,Estonia,EURO,1,1,0,0,100.000000
130970,200219,2020-03-16,UZ,Uzbekistan,EURO,4,4,0,0,100.000000
48000,73487,2020-03-14,GP,Guadeloupe,AMRO,5,5,0,0,100.000000
0,52,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0,100.000000

In [15]:
result1 = result.loc[result.Country_code == 'US'] #Max new cases in US using idxmax
result1.loc[result1.New_cases.idxmax()]

Date_reported                      2022-01-12
Country_code                               US
Country              United States of America
WHO_region                               AMRO
New_cases                             1253135
Cumulative_cases                     61455061
New_deaths                               1983
Cumulative_deaths                      836735
Name: 196682, dtype: object

In [19]:
result1 = result.loc[result.New_cases == 0]
result1.sort_values(by = 'Date_reported')
result1.loc[0] #First occurence of no new cases in the world

Date_reported         2020-01-03
Country_code                  AF
Country              Afghanistan
WHO_region                  EMRO
New_cases                      0
Cumulative_cases               0
New_deaths                     0
Cumulative_deaths              0
Name: 0, dtype: object

In [6]:
result1 = result.loc[(result.Country_code == 'US') & (result.New_cases == 0)]  #First occurence of no new cases in the US
result1.loc[result1.index.min()]

Date_reported                      2020-01-03
Country_code                               US
Country              United States of America
WHO_region                               AMRO
New_cases                                   0
Cumulative_cases                            0
New_deaths                                  0
Cumulative_deaths                           0
Name: 197298, dtype: object

In [5]:
result

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
206896,2022-05-20,ZW,Zimbabwe,AFRO,199,250206,1,5487
206897,2022-05-21,ZW,Zimbabwe,AFRO,363,250569,2,5489
206898,2022-05-22,ZW,Zimbabwe,AFRO,73,250642,5,5494
206899,2022-05-23,ZW,Zimbabwe,AFRO,60,250702,1,5495
206900,2022-05-24,ZW,Zimbabwe,AFRO,227,250929,1,5496